In [34]:
import pandas as pd

In [35]:
data = pd.read_csv("Participants Details - Form Responses 1.csv")

In [36]:
# import random
# ID = []
# for i in range(len(data)):
#     s = "CEPHEUS" + str(random.randint(100, 999))
#     ID.append(s)
# ID

In [37]:
data.head()

                Enter your Email ID Enter your Name
0  abhinav.reddy.21031@iitgoa.ac.in       abhinav_1
1  abhinav.reddy.21031@iitgoa.ac.in       abhinav_2
2  abhinav.reddy.21031@iitgoa.ac.in       abhinav_3
3  abhinav.reddy.21031@iitgoa.ac.in       abhinav_4
4  abhinav.reddy.21031@iitgoa.ac.in       abhinav_5

In [38]:
data = data.sort_values(by= "Enter your Name", ascending=1)
data = data.reset_index()
data = data.drop(["index"],axis=1)
data.head()

                Enter your Email ID Enter your Name
0  abhinav.reddy.21031@iitgoa.ac.in       abhinav_1
1  abhinav.reddy.21031@iitgoa.ac.in      abhinav_10
2  abhinav.reddy.21031@iitgoa.ac.in      abhinav_11
3  abhinav.reddy.21031@iitgoa.ac.in      abhinav_12
4  abhinav.reddy.21031@iitgoa.ac.in      abhinav_13

In [39]:
l = []

In [40]:
for i in range(len(data)):
    s = "CEPHEUS_" + str(i+1)
    l.append(s)

In [41]:
l

['CEPHEUS_1',
 'CEPHEUS_2',
 'CEPHEUS_3',
 'CEPHEUS_4',
 'CEPHEUS_5',
 'CEPHEUS_6',
 'CEPHEUS_7',
 'CEPHEUS_8',
 'CEPHEUS_9',
 'CEPHEUS_10',
 'CEPHEUS_11',
 'CEPHEUS_12',
 'CEPHEUS_13',
 'CEPHEUS_14',
 'CEPHEUS_15',
 'CEPHEUS_16',
 'CEPHEUS_17',
 'CEPHEUS_18',
 'CEPHEUS_19',
 'CEPHEUS_20',
 'CEPHEUS_21',
 'CEPHEUS_22',
 'CEPHEUS_23',
 'CEPHEUS_24',
 'CEPHEUS_25',
 'CEPHEUS_26',
 'CEPHEUS_27',
 'CEPHEUS_28',
 'CEPHEUS_29',
 'CEPHEUS_30']

In [42]:
data1 = pd.DataFrame(l)

In [43]:
data1

             0
0    CEPHEUS_1
1    CEPHEUS_2
2    CEPHEUS_3
3    CEPHEUS_4
4    CEPHEUS_5
5    CEPHEUS_6
6    CEPHEUS_7
7    CEPHEUS_8
8    CEPHEUS_9
9   CEPHEUS_10
10  CEPHEUS_11
11  CEPHEUS_12
12  CEPHEUS_13
13  CEPHEUS_14
14  CEPHEUS_15
15  CEPHEUS_16
16  CEPHEUS_17
17  CEPHEUS_18
18  CEPHEUS_19
19  CEPHEUS_20
20  CEPHEUS_21
21  CEPHEUS_22
22  CEPHEUS_23
23  CEPHEUS_24
24  CEPHEUS_25
25  CEPHEUS_26
26  CEPHEUS_27
27  CEPHEUS_28
28  CEPHEUS_29
29  CEPHEUS_30

In [44]:
data["Money Holder Number"] = data1

In [45]:
if "Unnamed: 0.1" in data.columns:
    data = data.drop(["Unnamed: 0.1"], axis=1)
if "Unnamed: 0" in data.columns:
    data = data.drop(["Unnamed: 0"], axis=1)
data

                 Enter your Email ID Enter your Name Money Holder Number
0   abhinav.reddy.21031@iitgoa.ac.in       abhinav_1           CEPHEUS_1
1   abhinav.reddy.21031@iitgoa.ac.in      abhinav_10           CEPHEUS_2
2   abhinav.reddy.21031@iitgoa.ac.in      abhinav_11           CEPHEUS_3
3   abhinav.reddy.21031@iitgoa.ac.in      abhinav_12           CEPHEUS_4
4   abhinav.reddy.21031@iitgoa.ac.in      abhinav_13           CEPHEUS_5
5   abhinav.reddy.21031@iitgoa.ac.in      abhinav_14           CEPHEUS_6
6   abhinav.reddy.21031@iitgoa.ac.in      abhinav_15           CEPHEUS_7
7   abhinav.reddy.21031@iitgoa.ac.in      abhinav_16           CEPHEUS_8
8   abhinav.reddy.21031@iitgoa.ac.in      abhinav_17           CEPHEUS_9
9   abhinav.reddy.21031@iitgoa.ac.in      abhinav_18          CEPHEUS_10
10  abhinav.reddy.21031@iitgoa.ac.in      abhinav_19          CEPHEUS_11
11  abhinav.reddy.21031@iitgoa.ac.in       abhinav_2          CEPHEUS_12
12  abhinav.reddy.21031@iitgoa.ac.in      abhinav_20          CEPHEUS_13
13  abhinav.reddy.21031@iitgoa.ac.in      abhinav_21          CEPHEUS_14
14  abhinav.reddy.21031@iitgoa.ac.in      abhinav_22          CEPHEUS_15
15  abhinav.reddy.21031@iitgoa.ac.in      abhinav_23          CEPHEUS_16
16  abhinav.reddy.21031@iitgoa.ac.in      abhinav_24          CEPHEUS_17
17  abhinav.reddy.21031@iitgoa.ac.in      abhinav_25          CEPHEUS_18
18  abhinav.reddy.21031@iitgoa.ac.in      abhinav_26          CEPHEUS_19
19  abhinav.reddy.21031@iitgoa.ac.in      abhinav_27          CEPHEUS_20
20  abhinav.reddy.21031@iitgoa.ac.in      abhinav_28          CEPHEUS_21
21  abhinav.reddy.21031@iitgoa.ac.in      abhinav_29          CEPHEUS_22
22  abhinav.reddy.21031@iitgoa.ac.in       abhinav_3          CEPHEUS_23
23  abhinav.reddy.21031@iitgoa.ac.in      abhinav_30          CEPHEUS_24
24  abhinav.reddy.21031@iitgoa.ac.in       abhinav_4          CEPHEUS_25
25  abhinav.reddy.21031@iitgoa.ac.in       abhinav_5          CEPHEUS_26
26  abhinav.reddy.21031@iitgoa.ac.in       abhinav_6          CEPHEUS_27
27  abhinav.reddy.21031@iitgoa.ac.in       abhinav_7          CEPHEUS_28
28  abhinav.reddy.21031@iitgoa.ac.in       abhinav_8          CEPHEUS_29
29  abhinav.reddy.21031@iitgoa.ac.in       abhinav_9          CEPHEUS_30

In [46]:
data["Amount"] = 0

In [47]:
data.to_csv("ParticipantsData.csv")

In [48]:
import smtplib
from email.message import EmailMessage
from getpass import getpass

sender_email= "abhinav.reddy.21031@iitgoa.ac.in" #input("Enter Your Email ID  ")
sender_pass=getpass("Enter Your Password ")

In [49]:
receivers_email=data["Enter your Email ID"].values
sub=("⭐⭐⭐ Money Mavericks: Game Theory ⭐⭐⭐")
accounts =data["Money Holder Number"].values
name=data["Enter your Name"].values

In [50]:
zipped=zip(receivers_email,accounts,name)

for(a,b,c) in zipped:
    
    msg=EmailMessage()       
    msg['From']=sender_email
    msg['To']=a
    msg['Subject']=sub
    msg.set_content(f"Hello {c}!\n \nThank you for filling out the google form. Our team is impressed with your performance in level 1. Before we proceed onto level 2, please do take a note of your Money Holder ID 💰\n \n Name: {c} \n Money Holder ID: {b}\n \nPlease make sure that you remember the ID provided. You will be requiring this ID inorder to store and access the amount you earned after each and every round in level 2. Make sure that you keep this ID with yourself and not share to any of the outsiders. Doing so would lead to disqualification! \n \nI hope you are all excited for round 2. Our team wishes you all the very best! ✌️✌️✌️\n \n \n Regards, \n Team Cepheus 23 ")
        
    smtpserver = smtplib.SMTP_SSL('smtp.gmail.com',465)
        # smtpserver.ehlo()
        # smtpserver.starttls()
        # smtpserver.ehlo()
    smtpserver.login(sender_email,sender_pass)
    smtpserver.send_message(msg)
        # smtpserver.quit()
        # del msg['To']
            
print("All mail sent!")

SMTPAuthenticationError: (535, b'5.7.8 Username and Password not accepted. Learn more at\n5.7.8  https://support.google.com/mail/?p=BadCredentials x11-20020a170902ea8b00b0019a7c890c61sm652619plb.252 - gsmtp')